@import 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $roboto;

	&::-webkit-scrollbar {
	  width: 10px;
	}

	&::-webkit-scrollbar-track {
	  background: $white;
	}

	&::-webkit-scrollbar-thumb {
	  background: $blue;
	}

	&::-webkit-scrollbar-thumb:hover {
	  background: $blue;
	}
}

html {
	overflow-y: scroll;
}

@import 'partials/nav';
@import 'partials/footer';

#app {
	min-height: 100vh;
	display: flex;
    flex-direction: column;

	.wrapper {
		flex: 1 0 auto;

		.title {
		    font-size: 40px;
		    font-weight: 600;
		    font-stretch: normal;
			font-style: normal;
			line-height: 1.2;
			letter-spacing: normal;
			color: $blue;
			text-align: center;
			margin-top: 60px;

			@media only screen and (max-width: 1023px) {
		      font-size: 30px;
			}

			@media only screen and (max-width: 767px) {
		      font-size: 20px;
		  	}
		}

	}
}