<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="icon" type="image/png" sizes="270x270" href="<%= BASE_URL %>favicons/favicon-270x270.png">
        <link rel="icon" type="image/png" sizes="192x192" href="<%= BASE_URL %>favicons/favicon-192x192.png">
        <link rel="icon" type="image/png" sizes="180x180" href="<%= BASE_URL %>favicons/favicon-180x180.png">
        <link rel="icon" type="image/png" href="<%= BASE_URL %>favicons/favicon-32x32.png">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <noscript>
          <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
