<template>
	<div class="wrapper">
  		<hero-component :title="'Contact us'"></hero-component>
    	<text-component :text="content"></text-component>
    	<div class="form">
    		<label for="email">E-mail</label>
    		<input :class="{ 'error' : emailError }" type="email" v-model="email" placeholder="Enter your e-mail" id="email">
    		<label for="message">Message</label>
    		<textarea :class="{ 'error' : messageError }" v-model="message" placeholder="Enter your message" rows="5" id="message"></textarea>
    		<div class="form_submit" @click="sendMessage" ref="formSubmit">
    			<span v-if="!getSending">Send Message</span>
    			<span v-else><i class="fa fa-circle-o-notch fa-spin"></i> Sending</span>
    		</div>
    		<p :class="['form_message', { 'error' : emailError || messageError || generalError }]" v-if="userMessage.length > 0">{{ userMessage }}</p>
    	</div>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import HeroComponent from "@/components/HeroComponent.vue";
import TextComponent from "@/components/TextComponent.vue";

export default {
	name: "Contact",
	components: {
    	HeroComponent,
    	TextComponent
  	},
	data () {
        return {
        	content: "If you'd like to find out more about us, or just want to have a chat, please get in touch.",
        	email: '',
        	message: '',
        	emailError: false,
        	messageError: false,
        	generalError: false,
        	userMessage: '',
        	messageCounter: 0
        }
    },
    watch: {
    	// example of watcher on message
	    message: function (newVal, oldVal) {
	    	if(newVal && newVal !== oldVal) {
	        	this.messageCounter = newVal.length
	    	}
	    }
	},
    computed: {
    	...mapGetters([
        	'getSending'
        ])
    },
  	methods: {
  		...mapActions([
        	'sendContactMessage'
        ]),
  		sendMessage() {
   			//check if the message is being sent
  			if(this.getSending) {
  				return
  			}

  			this.emailError   = false
  			this.messageError = false
  			this.generalError = false
  			this.userMessage  = ''

  			//check email
  			if(this.email.length === 0 || !this.validEmail(this.email)) {
  				this.emailError  = true
  				this.userMessage = 'Please insert a valid email'
  				this.$refs.formSubmit.scrollIntoView()
  				return
  			}

  			//check message
  			if(this.message.length < 30 ) {
  				this.messageError = true
  				this.userMessage  = 'A message must have a minimum of 30 characters'
  				this.$refs.formSubmit.scrollIntoView()
  				return
  			}

  			const data = {
  				email: this.email,
  				message: this.message
  			}

  			this.sendContactMessage(data).then((response) => { 
				this.email       = ''
				this.message     = ''
			 	this.userMessage = response.message
			 	this.$refs.formSubmit.scrollIntoView()
			}).catch((rsp) => {
				if(rsp === 500) {
					this.generalError = true
					this.userMessage  = 'Error connecting to the server'
				} else {
					this.userMessage = rsp.message
					if(rsp.sender === 'email') {
						this.emailError = true
					} 

					if(rsp.sender === 'message') {
						this.messageError = true
					}
				}
				this.$refs.formSubmit.scrollIntoView()
			})
  		},
  		validEmail(email) {
        	const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@(([[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        	return re.test(email)
      	}
  	}
};
</script>
<style lang="scss">
@import "../assets/scss/variables";
	.form {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 50%;
		margin: auto auto 60px auto;

		@media only screen and (max-width: 1023px) {
			width: 80%;
		}

		@media only screen and (max-width: 767px) {
			width: 90%;
			align-items: center;
		}

		label {
			width: 100%;
			text-align: left;
			margin-bottom: 10px;
			color: $blue;
		}

		input, textarea {
			display: block;
			width: 100%;
		    font-size: 16px;
		    font-weight: normal;
		    font-stretch: normal;
		    font-style: normal;
		    line-height: 2;
		    letter-spacing: -0.4px;
		    text-align: left;
		    color: $blue;
		    padding: 4px 10px;
		    background: transparent;
		    border: 2px solid $blue;
		    border-radius: 4px;
		    appearance: none;
		    margin-bottom: 40px;

		    &::placeholder {
		    	color: $black;
		    	opacity: .5;
			}

			&:focus {
				outline: none;
			}

			&.error {
				border-color: red;
			}
		}

		&_submit {
			width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			color: $blue;
			border: 2px solid $blue;
			border-radius: 4px;
			background: transparent;
			cursor: pointer;

			&:hover {
				transition: background .3s ease-in-out;
				color: $white;
				background: $blue;
			}
		}

		&_message {
			width: 100%;
			margin-top: 40px;
			text-align: center;
			color: $blue;

			&.error {
				color: red;
			}
		}
	}
</style>
