<template>
	<div class="wrapper">
		<hero-component :title="'Undabot'"></hero-component>
    	<h2 class="title">Welcome to Undabot</h2>
    	<text-component :text="content"></text-component>
  	</div>
</template>

<script>
import HeroComponent from "@/components/HeroComponent.vue";
import TextComponent from "@/components/TextComponent.vue";

export default {
	name: "Home",
	components: {
    	HeroComponent,
    	TextComponent
  	},
	data () {
        return {
        	content: 'No matter how intelligent and self-sufficient technology becomes, there will always be a need for people to make it work.<br><br> We are those people and that is the essence of our success. The company which builds its strength on, understands and invests in people, is the company that will thrive.<br><br> People are our most valuable asset, everything else can be reprogrammed.'
        }
    }
};
</script>
