#footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background: $blue;
	color: $white;

	@media only screen and (max-width: 767px) {
		justify-content: center;
		flex-direction: column-reverse;
	}
}