#nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;

	&_logo {
		&-anchor {
			display: flex;
			align-items: center;
			text-decoration: none;
		}

		img {
			width: 32px;
			height: 32px;
			margin-right: 10px;

			@media only screen and (max-width: 767px) {
		    	width: 20px;
				height: 20px;
		  	}
		}

		span {
			font-size: 26px;
			color: $blue;
			text-transform: uppercase;

			@media only screen and (max-width: 767px) {
		    	font-size: 20px;
		  	}
		}
	}

	&_anchors {
		display: flex;
		a {
			text-decoration: none;
			color: $blue;
			font-size: 20px;
			margin: 0 20px;

			&:after {
				display: block;
			    content: "";
			    width: 0;
			    border-bottom: 2px solid $blue;
			    transition: all 0.3s ease-in-out;
			}

			&.router-link-exact-active {
				&:after {
					width: 100%;
				}
			}

			/* Staviti na min width da je desktop ?*/
			&:hover {
				&:after {
					width: 100%;
				}
			}

			@media only screen and (max-width: 767px) {
		    	font-size: 16px;
		    	margin: 0 10px;
		  	}
		}
	}
}