<template>
	<div class="hero">
		<div class="hero_overlay"></div>
		<h1>{{ title }}</h1>
	</div>
</template>

<script>
export default {
  	name: "Hero",
  	props: {
        title: String
    }
};
</script>
<style scoped lang="scss">
@import "../assets/scss/variables";
.hero {
	position: relative;
	width: 100%;
	height: 500px;
	background-image: url("~@/assets/images/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;

	&_overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $black;
		opacity: 0.5;
		z-index: 1;
	}

  	h1 {
		font-size: 50px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: $white;
		text-transform: uppercase;
		z-index: 2;

		@media only screen and (max-width: 1023px) {
      		font-size: 30px;
		}

		@media only screen and (max-width: 767px) {
      		font-size: 20px;
  		}

  	}

  	@media only screen and (max-width: 1023px) {
    	height: 300px;
  	}

  	@media only screen and (max-width: 767px) {
    	height: 200px;
  	}
}
</style>
