<template>
    <div class="text">
        <p v-html="text"></p>
    </div>
</template>

<script>
export default {
    name: "GenericText",
    props: {
        text: String
    }
};
</script>
<style scoped lang="scss">
@import "../assets/scss/variables";
.text p {
    max-width: 60%;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $black;
    text-align: center;
    margin: 60px auto;

    @media only screen and (max-width: 1023px) {
        font-size: 18px;
        max-width: 80%;
    }

    @media only screen and (max-width: 767px) {
        font-size: 16px;
        max-width: 90%;
    }  
}
</style>
