<template>
  <div id="app" ref="app">
    <div id="nav">
      <div id="nav_logo">
        <router-link to="/" id="nav_logo-anchor">
          <img src="@/assets/images/logo.png" alt="Undabot">
          <span>Undabot</span>
        </router-link>
      </div>
      <div id="nav_anchors">
        <router-link to="/">Home</router-link>
        <router-link to="/contact">Contact</router-link>
      </div>
    </div>
    <router-view />
    <div id="footer">
      <div id="footer_copyright">© {{ new Date().getFullYear() }}</div>
      <div id="footer_author">Marino Troskot</div>
    </div>
  </div>
</template>

<style lang="scss">
@import "assets/scss/app";
</style>
